<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="Forgot_password.css">
  
</head>

<body>
    <div class="forgot-password-box">
        <h1>Forgot Password</h1>
        <form action="reset-password.php" method="post">
            <div class="input-container">
                <input type="email" id="email" placeholder="Enter your email">
            </div>
            <div class="input-container">
                <input type="password" id="password" placeholder="Password">
            </div>
            <div class="input-container">
                <input type="password" id="confirm-password" placeholder="Confirm Password">
            </div>
            <div>
                <label id="update-message"></label>
            </div>
            <button class="btn" onclick="handlePasswordForm(event)">Submit</button>
            <div id="login-redirect">
                <a href="login.html">Go to Login Page!</a>
            </div>
        </form>
    </div>
    <script>
        function handlePasswordForm(e)
        {
            e.preventDefault()
            if(validateForm())
            {
              handlePassword(event);
            }
        }
        function handlePassword(e) {
            e.preventDefault();
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const confirm_password = document.getElementById("confirm-password").value;

            if (email == "" || password == "" || confirm_password == "") {
                document.getElementById("update-message").innerText = "";
                document.getElementById("update-message").innerText = "All Fields are required";

            }
            else {
                if (!localStorage.getItem(email)) {
                    document.getElementById("update-message").innerText = "Enter Existing Email id";
                    console.log("invalid");
                } else {
                    console.log("started");
                    let value = localStorage.getItem(email);
                    let data = JSON.parse(value);

                    if (password != confirm_password) {
                        document.getElementById("update-message").innerText = "Password should be same in both fields";
                    } else {
                        data.password = password;
                        data.confirm_password = confirm_password;
                        localStorage.setItem('user_'+email, JSON.stringify(data));
                        document.getElementById("update-message").innerText = "Updated Successfully";
                    }
                }  
            }

        }

    </script>
    <script src="./Javascript files/FormValidation.js"></script>
</body>

</html>